.loading-screen {
  padding-top: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.ReviewBoard {
  padding: 2px;
}

.search {
  padding-top: 100px;
  padding-left: 20px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas: "categories-list view-all";
}

.categories-list {
  grid-area: categories-list;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.view-all {
  grid-area: view-all;
}

.sort-menu {
  padding-top: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.review-list {
  padding-top: 20px;
  list-style-type: none;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, 375px);
  padding-left: 0px;
}

.reviewImg {
  border-radius: 6%;
  width: 365px;
  height: 225px;
  object-fit: cover;
  grid-area: reviewImg;
  justify-self: center;
}

.title {
  text-align: left;
  grid-area: title;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px;
}

.nested-title {
  margin: 0px;
  height: 50px;
}
.owner {
  grid-area: owner;
  height: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 2px;
  margin: 0px;
}

.category {
  grid-area: category;
  height: 25px;
  padding-left: 2px;
  margin: 0px;
}

.comment-count {
  grid-area: comment-count;
  text-align: center;
  height: 25px;
  margin: 0px;
  padding-right: 10px;
}

.review-votes {
  grid-area: review-votes;
  text-align: right;
  padding-right: 10px;
  margin: 0px;
}

.posted-date {
  grid-area: date;
  height: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 2px;
  margin: 0px;
}

.reviewBox {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 25px 50px auto 25px;
  grid-template-areas:
    "owner date date"
    "title title title"
    "reviewImg reviewImg reviewImg"
    "category comment-count review-votes";
  width: 370px;
  height: 350px;
  border: 1px;
  border-color: rgb(227, 227, 227);
  border-style: solid;
}
