.loading-screen {
  padding-top: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.review {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto;
  grid-template-areas:
    "title title title title title"
    "owner owner owner date date"
    "body body body body body"
    "ch ch lb vc db";
  padding: 10px;
  padding-top: 60px;
}

.title {
  grid-area: title;
  text-align: left;
  word-wrap: break-word;
  font-size: 15px;
  padding-left: 2px;
}

.owner {
  grid-area: owner;
  align-self: end;
  width: 80px;
}

.date {
  grid-area: date;
  align-self: start;
}

.body {
  grid-area: body;
}

.comment-header {
  grid-area: ch;
}

.like-button {
  grid-area: lb;
  border: 0px;
  background-color: transparent;
}

.like-button-on {
  border: 0px;
  background-color: transparent;
  filter: hue-rotate(290deg);
}

.vote-count {
  grid-area: vc;
  text-align: center;
}

.dislike-button {
  grid-area: db;
  border: 0px;
  background-color: transparent;
}

.dislike-button-on {
  border: 0px;
  background-color: transparent;
  filter: hue-rotate(290deg);
}

.comment-list {
  list-style-type: none;
}

.comment-box {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  grid-template-areas:
    "user time time"
    "comment comment comment"
    "up-vote . votes";
}

.user {
  grid-area: user;
}

.time {
  grid-area: time;
}

.comment {
  grid-area: comment;
}

.up-vote {
  grid-area: up-vote;
}

.votes {
  grid-area: votes;
  text-align: center;
}

.pfp {
  border-radius: 100%;
  height: 25px;
  width: 25px;
}

.comment-section {
  display: flex;
}

.reloading-off {
  display: none;
}
