.review-page {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto;
  grid-template-areas:
    "title title title title title"
    "owner owner owner date date"
    "body body body body body"
    "ch ch lb vc db";
  padding: 10px;
}

.title {
  grid-area: title;
  text-align: left;
  word-wrap: break-word;
}

.owner {
  grid-area: owner;
  align-self: end;
}

.date {
  grid-area: date;
  align-self: start;
}

.body {
  grid-area: body;
}

.comment-header {
  grid-area: ch;
}

.like-button {
  grid-area: lb;
}

.vote-count {
  grid-area: vc;
  text-align: center;
}

.dislike-button {
  grid-area: db;
}

.comment-list {
  list-style-type: none;
}

.comment-box {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  grid-template-areas:
    "user user time"
    "comment comment comment"
    "up-vote . votes";
}

.user {
  grid-area: user;
}

.time {
  grid-area: time;
}

.comment {
  grid-area: comment;
}

.up-vote {
  grid-area: up-vote;
}

.votes {
  grid-area: votes;
  text-align: center;
}
